apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  default.conf: |
    server {
        listen 80;
        
        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html;
        }
        
        # This handles the routing to the Backend Service
        location /api/ {
            rewrite ^/api/(.*) /$1 break;
            proxy_pass http://backend:8000;
        }
    }
